<h2 class="page-title">Interests and Hobbies:</h2>
<div class="row">
    {{#each interests as |interest|}}
    <div class="col-md-4 mb-4 interest">
        <section class="card">
            <a class="title" href="/api/interests/{{interest.dataValues.id}}">
                {{#if interest.dataValues.photo }}
                <img src="{{interest.dataValues.photo}}" class="thumbnail">
                {{else}}
                <img src="/upload/interests/no-photo.jpg" class="thumbnail">
                {{/if}}
                <h3 class="text-center">{{interest.dataValues.interest_name}}</h3>
            </a>
            {{!-- heart button --}}
            <button class="heart-button {{#if interest.userHasInterest}}active{{else}}inactive{{/if}}" id="heart-button"
                data-interest-id="{{interest.dataValues.id}}">
                &#x2665;
            </button>
            {{#if interest.userHasInterest}}
            <button class="heart-button active" id="heart-button" data-interest-id="{{interest.dataValues.id}}">
                &#x2665;
            </button>
            {{/if}}
        </section>
    </div>
    {{/each}}
</div>
<br>
<div class="form-new-interest">
    <a href="/api/interests/createInterest"><button type="submit" class="btn btn-primary" id="new-interest">Add New
            Interest</button>
    </a>
    <a href="/">
        <button class="btn btn-primary-homepage">Back to HomePage</button>
    </a>
</div>
<script src="/js/heartAll.js"></script>