<h2 class="page-title">
    {{interest.interest_name}}
</h2>
<div>
    {{#if interest.photo }}
    <section class="card">
        <img src="{{interest.photo}}" class="thumbnail">
        {{!-- heart button --}}
        <button class="heart-button {{#if interest.userHasInterest}}active{{else}}inactive{{/if}}" id="heart-button"
            data-interest-id="{{interest.id}}">
            &#x2665;
        </button>
    </section>
    {{else}}
    <section class="card">
        <img src="/upload/interests/no-photo.jpg" class="thumbnail">
    </section>
    {{/if}}
</div>

{{!-- show members who have added this interest --}}
<div class="card text-left">
    <h4><strong>Members Who Enjoy {{interest.interest_name}}:</strong></h4>
    {{#if interest.users}}
    {{#each interest.users as |user|}}
    <div class="row mb-4">
        <div class="col-md-5">
            <h4 id="list-border-meetup">
                <a class="user-list" href="/api/users/{{user.id}}"> 
                <img src="{{user.photo}}" class="small"> {{user.first_name}} {{user.last_name}}
                </a>
            </h4>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p style="font-style: italic;">No member has added this interest yet.</p>
    {{/if}}

<a href="/api/interests">
    <button class="btn btn-primary-homepage">Back to All Interests</button>
</a>
</div>

<script src="/js/heart.js"></script>
