<h2 class="page-title">
    {{user.first_name}} {{user.last_name}}
</h2>

<div>
    {{#if user.photo }}
    <section class="card">
        <img src="{{user.photo}}" class="thumbnail">
    </section>
    {{else}}
    <section class="card">
        <img src="/upload/interests/no-photo.jpg" class="thumbnail">
    </section>
    {{/if}}
</div>
<div>
    <ul>
        <li><strong>First Name</strong>: {{user.first_name}}</li>
        <li><strong>Last Name</strong>: {{user.last_name}}</li>
        <li><strong>Age</strong>: {{user.age}}</li>
        <li><strong>Gender</strong>: {{user.gender}}</li>
        <li><strong>Location</strong>: {{user.location}}</li>
        <li><strong>Status</strong>: {{user.status}}</li>
        <li><strong>Education</strong>: {{user.education}}</li>
    </ul>
</div>

<div class="row mt-4" id="list-border">
    <!-- Display user interests if available -->
    {{#if interests.length}}
    <div class="col-md-6 interest-list">
        <h3>Interests:</h3>

        {{#each interests as |interest|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <!-- Link to the interest -->
                <h4><a class="list" href="/api/interests/{{interest.id}}">{{interest.interest_name}}</a></h4>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}


    <!-- Display user meetups if available -->
    {{#if meetups.length}}
    <div class="col-md-6 meetup-list">
        <h3>Meetups:</h3>

        {{#each meetups as |meetup|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <!-- Link to the meetup -->
                <h4><a class="list" href="/api/meetups/{{meetup.id}}">{{meetup.title}}</a></h4>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<a href="/api/users">
    <button class="btn btn-primary-homepage">Back to All Users</button>
</a>
</div>