<div class="row">
    <div class="col-auto">
        <!-- Greet the user by name -->
        <h2>Hi, {{first_name}}! 👋🏼 </h2>
    </div>
</div>
<div>
    {{#if photo }}
    <section class="card">
        <img src="{{photo}}" class="thumbnail">
    </section>
    {{else}}
    <section class="card">
        <img src="/upload/nogenderimg.jpg" class="thumbnail">
    </section>
    {{/if}}
</div>
<br>
<ul>
    <li><strong>First Name</strong>: {{first_name}}</li>
    <li><strong>Last Name</strong>: {{last_name}}</li>
    <li><strong>Age</strong>: {{age}}</li>
    <li><strong>Gender</strong>: {{gender}}</li>
    <li><strong>Location</strong>: {{location}}</li>
    <li><strong>Status</strong>: {{status}}</li>
    <li><strong>Education</strong>: {{education}}</li>
</ul>

<div class="form-group-update">
    <button type="submit" class="btn btn-primary" id="edit">Update Profile</button>
    <button type="submit" class="btn btn-primary" id="upload-pic-btn">Upload Profile Picture</button>
    <button type="submit" class="btn btn-primary" id="new-meetup">Create New Meetup</button>
</div>

<div class="row mt-4" id="list-border">
    <!-- Display user interests if available -->
    {{#if interests.length}}
    <div class="col-md-6 interest-list">
        <h3>Interests:</h3>

        {{#each interests as |interest|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <!-- Link to the interest -->
                <h4><a class="list" href="/api/interests/{{interest.id}}">{{interest.interest_name}}</a></h4>
            </div>
            <div class="col-md-4">
                <!-- Buttons for removing an interest -->
                <button class="btn btn-sm btn-danger" remove="{{interest.id}}">Remove</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <!-- Display user meetups if available -->
    {{#if meetups.length}}
    <div class="col-md-6 meetup-list">
        <h3>Meetups:</h3>

        {{#each meetups as |meetup|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <!-- Link to the meetup -->
                <h4><a class="list" href="/api/meetups/{{meetup.id}}">{{meetup.title}}</a></h4>
            </div>
            <div class="col-md-4">
                <!-- Buttons for updating and deleting a meetup -->
                <button class="btn btn-sm" update="{{meetup.id}}">Update</button>
                <button class="btn btn-sm btn-danger" delete="{{meetup.id}}">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

{{!-- list for showing the user's own events --}}
{{!-- TODO --}}
<div class="col-md-6">
    <!-- Form for updating user info -->
    <form class="form update-user-form" id="update-form" style="display: none;">

        {{!-- first-name --}}
        <div class="form-group">
            <label for="first-name">* First Name:</label>
            <input class="form-input" type="text" id="first-name" name="first-name" required />
        </div>
        {{!-- last-name --}}
        <div class="form-group">
            <label for="last-name">Last Name: (optional)</label>
            <input class="form-input" type="text" id="last-name" name="last-name" />
        </div>
        {{!-- Age --}}
        <div class="form-group">
            <label for="age">* Age:</label>
            <input class="form-input" type="text" id="age" name="age" required />
        </div>
        {{!-- Gender --}}
        <div class="form-group">
            <label for="gender">* Gender:</label>
            <select class="form-input" id="gender" name="gender" required>
                <option value="">Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        {{!-- Location --}}
        <div class="form-group">
            <label for="location">* Location: </label>
            <input class="form-input" type="text" id="location" name="location" required />
        </div>
        <!-- Status -->
        <div class="form-group">
            <label for="status">Status: (optional)</label>
            <select class="form-input" id="status" name="status">
                <option value="">Status</option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced/widowed">Divorced/Widowed</option>
            </select>
        </div>
        <!-- Education -->
        <div class="form-group">
            <label for="education">Education: (optional)</label>
            <select class="form-input" id="education" name="education">
                <option value="">Education</option>
                <option value="High-school">High School</option>
                <option value="College">College</option>
                <option value="Bachelors">Bachelor's Degree</option>
                <option value="Masters">Master's Degree</option>
                <option value="Doctorate">Doctorate</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="update">Save</button>
        </div>
    </form>

    {{!-- form creating image upload and submit --}}
    <form class="form upload-pic" id="upload-pic" action="/profile/upload" method="POST" enctype="multipart/form-data"
        style="display: none;">
        <div class="file-field input-field">
            <div class="btn grey">
                <span>File</span>
                <input name="myImage" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>

</div>

<div>
    <!-- Form for adding or editing new Meetup -->
    <form class="form meetup-form" id="meetup-form" style="display: none;">
        {{!-- meetup title --}}
        <div class="form-group">
            <label for="title">Meetup Title:</label>
            <input class="form-input" type="text" id="title" name="title" required />
        </div>
        {{!-- meetup description --}}
        <div class="form-group">
            <label for="description">Meetup Description:</label>
            <textarea class="form-input" id="description" name="description" required></textarea>
        </div>
        {{!-- meetup date --}}
        <div class="form-group">
            <label for="date">Date:</label>
            <input class="form-input" type="date" id="date" name="date" required />
        </div>
        {{!-- meetup time --}}
        <div class="form-group">
            <label for="time">Time:</label>
            <input class="form-input" type="time" id="time" name="time" required />
        </div>
        {{!-- meetup location --}}
        <div class="form-group">
            <label for="meet-location">Location: (if your event is online, add the link here or type n/a)</label>
            <input class="form-input" type="text" id="meet-location" name="meet-location" required />
        </div>
        {{!-- in-person/online --}}
        <div class="form-group">
            <label for="in_person" required>Is the event in-person?</label>
            <select name="in_person" id="in_person">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="submit-meetup">Submit</button>
        </div>
    </form>   
    <br>
    <a href="/">
        <button class="btn btn-primary-homepage" >Back to HomePage</button>
    </a>
</div>
<!-- Include JavaScript for dashboard functionality -->
<script src="./js/profileUpdate.js"></script>
<script src="./js/createMeetup.js"></script>