<h2>Min-Go Members:</h2>
<div class="row">
    {{#each users as |user|}}
        <div class="col-md-4 mb-4 user">
            <section class="card">
                <a class="title" href="/api/users/{{user.id}}">
                    {{#if user.photo }}
                        <img src="{{user.photo}}" class="thumbnail">
                    {{else}}
                        <img src="/upload/nogenderimg.jpg" class="thumbnail">
                    {{/if}}
                    <h3 class="text-center">{{user.first_name}} {{user.last_name}}</h3>
                </a>
            </section>
        </div>
    {{/each}}
</div>


<a href="/">
    <button>Back to HomePage</button>
</a>